
<section class="faq-section">
  <div class="faq-container">
    <div class="faq-title">
      <h1>FAQs</h1>
    </div>

    <%= erb :"faq-item" %>
    <%= erb :"faq-item" %>
    <%= erb :"faq-item" %>
    <%= erb :"faq-item" %>
    <%= erb :"faq-item" %>
    <%= erb :"faq-item" %>
    <%= erb :"faq-item" %>
    <%= erb :"faq-item" %>
    <%= erb :"faq-item" %>
    <%= erb :"faq-item" %>

  </div>
</section>
